.true { color: #20A020; }
.false { color: #A02020; }
.h { font-weight: bold; }
.real { float: left; width: 50%; white-space: pre; }
.expected { float: right; width: 50%; white-space: pre; }
.clrb { clear: both; }

iframe { border: 0px; height: 100px; width: 100%; }
